.confirm-dialogue
  background: lighten($nav-bg, 40%)
  border-radius: 10px
  font-size: 20px
  margin: 10% auto
  max-width: 420px
  overflow: hidden
  padding-bottom: 40px
  text-align: center

.confirm-dialogue__message
  @include dialogue-header
  font-size: 26px
  margin-bottom: 35px

.confirm-dialogue__description
  background: rgba(white, 0.5)
  box-shadow: 0 0 5px #ddd inset
  color: darken($nav-bg, 15%)
  margin: -15px 0 50px
  padding: 10px 0

.confirm-dialogue__stars
  margin-bottom: 45px
  .fa-star
    text-shadow: 1px 3px 10px lighten($purple, 30%)

.confirm-dialogue__button-bar
  margin: 30px auto 10px

.confirm-dialogue__button
  border-radius: 10px
  cursor: pointer
  display: inline
  margin: 20px
  padding: 15px

.confirm-dialogue__button--accept
  background: lighten($nav-bg, 5%)
  box-shadow: 0 0 15px darken($nav-bg, 20%) inset, 1px 1px 1px #aaa
  color: darken($nav-bg, 35%)
  padding: 15px 20px
  text-shadow: 1px 1px lighten($nav-bg, 15%)

.confirm-dialogue__button--delete
  background: lighten(red, 30%)
  box-shadow: 0 0 15px lighten(red, 10%) inset, 1px 1px 1px #aaa
  color: darken(red, 20%)
  text-shadow: 1px 1px #fbb

.confirm-dialogue__button--cancel
  background: lighten(blue, 30%)
  box-shadow: 0 0 15px lighten(blue, 10%) inset, 1px 1px 1px #aaa
  text-shadow: 1px 1px #bbf
  &:active
    box-shadow: 0 0 15px lighten(blue, 10%) inset
