nav
  background: $nav-bg
  box-shadow: 0 0 5px #aaa
  color: white
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 10px

.logo
  text-shadow: 2px 2px 5px $purple

.nav__header
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 768px
  width: 95%
  .signup,
  .signin
    background: white
    border-radius: 10px
    box-shadow: 0 0 15px lighten($nav-bg, 10%) inset
    color: $nav-bg
    cursor: pointer
    display: inline
    margin: 0 5px
    padding: 10px
    @include hover-change(white)


.nav__search
  display: flex
  justify-content: center
  width: 100vw

.nav__searchbox
  border-radius: 5px
  font-size: 24px
  margin-left: -15px
  padding-left: 30px
  position: static
  width: 95%
  max-width: 720px
  z-index: 0.5
  &:focus
    background: lighten($nav-bg, 40%)
    outline: none

.fa-search
  color: rgba(50, 50, 50, 0.5)
  margin: 10px -10px 0 0
  position: relative
  z-index: 1

.nav__controls
  display: flex
  align-items: center
  justify-content: space-between
  margin: 10px 0
  max-width: 700px
  width: 93%
  .sort
    border-radius: 5px
    color: white
    cursor: pointer
    margin-right: 30px
    padding: 12px
    &:hover
      background: rgba(white, 0.5)
      color: $nav-bg
  .active
    background: white
    box-shadow: 0 0 10px $nav-bg inset
    color: $purple
    &:hover
      background: darken(white, 5%)
      color: $purple

.nav__add-recipe
  background: white
  border-radius: 50%
  box-shadow: 0 0 15px lighten($nav-bg, 15%) inset, 1px 1px 2px darken($nav-bg, 20%)
  color: $nav-bg
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  margin-left: 8px
  height: 40px
  width: 40px
  @include hover-change(white)
