nav
  background: $nav-bg
  box-shadow: 0 0 5px #aaa
  color: white
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 10px

.logo
  text-shadow: 2px 2px 5px $purple

.nav__header
  display: flex
  align-items: center
  justify-content: space-between
  max-width: 768px
  width: 95%
  .logout,
  .signin
    background: white
    border-radius: 10px
    box-shadow: 0 0 15px lighten($nav-bg, 10%) inset
    color: $nav-bg
    cursor: pointer
    display: inline
    margin: 0 5px
    padding: 12px
    font-size: 18px
    @include hover-change(white)

.user-info
  display: flex
  align-items: center
  &:hover
    color: darken(white, 5%)
    cursor: pointer

.fa-user,
.username
  font-size: 20px
  margin: 0 5px

.username
  margin-right: 15px

.nav__search
  display: flex
  justify-content: center
  margin: 0
  padding: 0
  width: 100vw

.nav__searchbox
  border-radius: 5px
  box-shadow: 0 0 15px $purple inset
  color: $purple
  font-size: 28px
  margin: 0 -3px 0 -28px
  max-width: 720px
  padding: 5px 10px 5px 48px
  position: static
  width: 102%
  z-index: 0.5
  &:invalid
    box-shadow: none
  &:focus
    background: lighten($purple, 40%)
    outline: none

.fa-search
  color: rgba(50, 50, 50, 0.5)
  margin: 8px -10px 0 0
  position: relative
  z-index: 1

.nav__recipe-list-selector
  border-radius: 0 0 5px 5px
  box-shadow: 0 2px 2px darken($nav-bg, 20%)
  display: flex
  font-size: 24px
  justify-content: center
  max-width: 600px
  overflow: hidden
  width: 100%

.nav__recipe-selector
  align-items: center
  cursor: pointer
  display: flex
  justify-content: center
  padding: 15px 3px
  text-shadow: 1px 1px 3px darken($nav-bg, 30%)
  width: 50%
  &:hover
    @include hover-change($nav-bg)

.nav__recipe-selector--active
  background: white
  box-shadow: 0 0 10px $purple inset
  color: $purple
  cursor: default
  text-shadow: 1px 1px 2px darken(white, 20%)
  &:hover
    background: white !important

.nav__controls
  display: flex
  align-items: center
  justify-content: space-between
  margin: 10px 0
  max-width: 700px
  width: 93%
  .sort
    border-radius: 5px
    color: white
    cursor: pointer
    margin-right: 15px
    padding: 12px
    &:hover
      background: rgba(white, 0.5)
      color: $nav-bg
  .active
    background: white
    box-shadow: 0 0 10px $purple inset
    color: $purple
    &:hover
      background: darken(white, 5%)
      color: $purple

.nav__add-recipe
  background: white
  border-radius: 50%
  box-shadow: 0 0 5px darken($nav-bg, 20%) inset, 1px 1px 2px darken($nav-bg, 20%)
  color: $nav-bg
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  height: 40px
  text-shadow: 1px 1px #bbb
  width: 40px
  @include hover-change(white)

.fa-plus
  margin-top: 2px
