.recipe
  background: lighten($nav-bg, 40%)
  border-bottom: 3px solid rgba(50,50,50,0.2)
  border-radius: 5px
  border-right: 1px solid rgba(50,50,50,0.2)
  break-inside: avoid
  color: #333
  display: flex
  flex-direction: column
  font-size: 20px
  justify-content: space-between
  margin: 0 auto 15px
  max-width: 630px
  padding: 15px
  width: 100%

.addToUserAnime--hidden
  background: rgba(black, 0.5)
  bottom: 0
  color: $nav-bg
  font-family: 'Architects Daughter', 'sans-serif'
  font-size: 30px
  height: 100%
  left: 0
  opacity: 0
  position: absolute
  right: 0
  top: 0
  text-shadow: 1px 1px white
  width: 100%
  z-index: 2

.addToUserAnime--visible
  animation: addToUserAnimation 2s

@keyframes addToUserAnimation
  0%
    opacity: 0
  30%
    opacity: 1
  60%
    opacity: 1
  100%
    opacity: 0

.recipe__header
  background: lighten($nav-bg, 35%)
  border-radius: 5px 5px 0 0
  margin: -15px -15px 15px -15px
  padding: 15px 8px 3px 15px

.recipe__button--edit
  align-items: center
  background: white
  border-radius: 50%
  box-shadow: 0 0 5px #aaa inset, 1px 1px 3px darken($nav-bg, 25%)
  color: $nav-bg
  cursor: pointer
  display: flex
  float: right
  height: 44px
  justify-content: center
  width: 44px
  @include hover-change(white)

.recipe__name
  text-shadow: 1px 1px white
  margin: 0 0 5px
  width: 90%

.recipe__button--mine-unpub,
.recipe__button--add-to-my-recipes
  align-items: center
  border-radius: 50%
  color: lighten($nav-bg, 35%)
  cursor: pointer
  display: flex
  float: right
  margin: 0

.recipe__button--mine-unpub
  background: lighten($nav-bg, 10%)
  font-size: 16px
  padding: 9px 7px

.recipe__button--add-to-my-recipes
  background: $nav-bg
  padding: 8px

.tags
  cursor: pointer
  display: block
  list-style-type: none
  margin-bottom: 15px
  padding: 0
  width: fit-content
  li
    background: lighten($nav-bg, 20%)
    border-bottom: 2px solid rgba(50,50,50,0.2)
    border-radius: 10px
    border-right: 1px solid rgba(50,50,50,0.4)
    color: #555
    display: inline-block
    font-size: 12px
    margin: 10px 10px 0 0
    padding: 3px 8px

.recipe__control-bar
  display: flex
  align-items: center
  justify-content: space-between

.recipe__expand-toggle
  color: #444
  cursor: pointer
  margin-left: 10px

.recipe__votes
  color: lighten($nav-bg, 10%)
  font-size: 16px
  margin-left: 15px

.recipe__button--publish,
.recipe__button--unpublish
  border-radius: 5px
  cursor: pointer
  display: inline
  font-size: 18px
  margin: 0 15px
  padding: 5px
  text-align: center
  i
    margin-right: 10px

.recipe__button--publish
  border: 1px solid $nav-bg
  box-shadow: 0 0 10px $nav-bg inset
  color: $nav-bg

.recipe__button--unpublish
  border: 1px solid lighten($nav-bg, 20%)
  box-shadow: 0 0 8px lighten($nav-bg, 10%) inset
  color: lighten($nav-bg, 10%)

.fa-star,
.fa-star-o
  cursor: pointer
  font-weight: bold

.fa-star
  color: $nav-bg

.fa-star-o
  color: rgba($nav-bg, .4)

.control-bar-spacer
  flex-grow: 1

.recipe__body
  display: flex
  justify-content: space-between
  flex-direction: column

.recipe-body__stats-bar
  display: flex
  flex-wrap: wrap
  font-size: 18px
  margin: 25px 0 -10px

.recipe-body__stats-div
  margin-right: 15px
  white-space: nowrap

.recipe-body__stats-div__icon
  margin-right: 10px

.recipe-body__ingredients
  margin-top: 0
  ul
    list-style-type: disc
    margin-top: 10px
    padding-left: 18px

.recipe-body__directions ol
  margin: 12px 0 0 5px
  padding: 0 15px
  li
    margin-bottom: 15px

.recipe-body__servings
  color: #555
  font-size: 17px

.recipe-body__notes-title
  font-family: 'Architects Daughter', 'sans-serif'

.recipe-body__notes
  background: lighten($nav-bg, 50%)
  border-radius: 5px
  padding: 10px
  p
    color: #333
    font-size: 20px
    font-family: 'Architects Daughter', 'sans-serif'

h3
  margin-bottom: 5px

.credits-spacer
  flex-grow: 20

.recipe__credits
  align-items: center
  background: lighten($nav-bg, 10%)
  border-radius: 0 0 5px 5px
  color: lighten($nav-bg, 50%)
  display: flex
  font-size: 16px
  margin: 25px -15px -15px -15px
  padding: 8px 15px
  .credit-name
    margin-left: 5px

.recipe__credits__icon
  margin-right: 8px

.recipe__credits--public
  flex-wrap: wrap
  justify-content: space-between

.recipe__credits--private
  flex-wrap: wrap-reverse
  justify-content: flex-end

.recipe__credits__author,
.recipe__credits__publisher
  margin: 8px 0
  white-space: nowrap

.recipe__delete-button
  align-items: center
  background: lighten($nav-bg, 40%)
  border-radius: 50%
  box-shadow: 0 0 3px darken($nav-bg, 10%)
  color: $nav-bg
  cursor: pointer
  display: flex
  height: 35px
  justify-content: center
  margin-right: -7px
  width: 35px
