.recipe-form--container
  background: lighten($nav-bg, 35%)
  border-radius: 10px
  color: #333
  font-size: 20px
  margin: 0 auto
  max-width: 700px
  overflow: auto

.recipe-form
  margin: 20px 0 15px 0
  padding: 5px 15px 20px 15px
  label
    font-family: 'Architects Daughter', 'sans-serif'
    font-size: 25px
    font-weight: bold
  input, textarea
    background: lighten($nav-bg, 45%)
    border: none
    border-radius: 5px
    box-shadow: 0 0 2px #555
    color: #333
    display: block
    font-size: 20px
    margin: 5px auto 25px
    padding: 5px
    resize: vertical
    width: 95%
  textarea[name='directions']
    margin-bottom: 30px

.recipe-form__title
  @include dialogue-header
  font-family: 'Architects Daughter', 'sans-serif'
  font-size: 30px

.recipe-form__servings-group
  display: inline
  margin: 25px 0

.recipe-form__servings-label
  float: left
  margin: 2px 15px 0 0

.recipe-form__number-input
  margin-left: 0

.parens
  display: block
  font-family: 'Architects Daughter', 'sans-serif'
  font-size: 18px

.recipe-form__servings-input
  max-width: 50px

.recipe-form__buttons
  display: flex
  align-items: baseline
  justify-content: flex-end
  margin: 45px 10px 0 0

.recipe-form__save,
.recipe-form__cancel
  border-radius: 10px
  color: #fff
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  font-weight: bold

.button-icon
  margin-right: 10px

.recipe-form__save
  background: $nav-bg
  box-shadow: 0 0 10px darken($nav-bg, 25%) inset, 1px 1px 5px #aaa
  color: lighten($nav-bg, 40%)
  margin-top: -10px
  padding: 15px
  text-shadow: 1px 1px darken($nav-bg, 25%)
  @include hover-change($nav-bg)

.recipe-form__cancel
  background: white
  box-shadow: 0 0 10px darken(white, 50%) inset
  color: #f55
  margin-right: 40px
  padding: 18px
  text-align: center
  text-shadow: 1px 1px #eee
  @include hover-change(white)
  i
    margin-top: -3px
