.recipe-form
  background: lighten($nav-bg, 40%)
  border-radius: 10px
  font-size: 20px
  margin: 0 auto
  max-width: 700px
  overflow: auto
  padding: 5px 15px 20px 15px
  input, textarea
    border: none
    border-radius: 5px
    box-shadow: 0 0 2px #555
    display: block
    margin: 5px 0 25px
    padding: 5px
    resize: vertical
    width: 95%
  textarea[name='directions']
    margin-bottom: 30px

.recipe-form__title
  background: lighten($nav-bg, 10%)
  border-radius: 10px 10px 0 0
  color: white
  margin: -5px -15px 15px
  padding: 15px
  text-shadow: 1px 1px darken($nav-bg, 40%)

.recipe-form__servings-group
  display: inline
  margin: 25px 0

.recipe-form__servings-label
  float: left
  margin: 2px 15px 0 0

.recipe-form__servings-input
  max-width: 35px

.recipe-form__save,
.recipe-form__cancel
  border-radius: 50%
  box-shadow: 1px 1px 2px #555
  color: #fff
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  font-weight: bold
  float: left

.recipe-form__save
  background: $nav-bg
  margin-top: -10px
  height: 45px
  width: 45px

.recipe-form__cancel
  background: lighten(red, 10%)
  margin: -8px 0 0 30px
  height: 40px
  width: 40px
