.recipe-list
  list-style-type: none
  margin: 0
  padding: 0
  @media screen and (min-width: 1200px)
    columns: 3
    column-gap: 20px
    padding: 0 10%
  li
    border-bottom: 3px solid rgba(50,50,50,0.2)
    border-right: 1px solid rgba(50,50,50,0.2)
    break-inside: avoid
